@model IEnumerable<BibliotecaUTN.Models.Editorial>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Agregar nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEditorial">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEditorial">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEditorial">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
